#har
{
	background-color : 3b5998;
	width:1351px;
	height:85px;
	margin-top: -10px;
	margin-left: -10px;
}
#ti
{
	color: white;
	position: absolute;
	left: 175px;
	top: -5px;
	font-family:Klavika;
	font-size:45px;
	font-weight: bold;
}
#ep
{
	color: white;
	position: absolute;
	left: 790px;
	top: -10px;
	font-size:15px;
	font-weight: lighter;
}
#pw
{
	color: white;
	position: absolute;
	left: 950px;
	top: -10px;
	font-size:15px;
	font-weight: lighter;
}
#pswd
{
	position: absolute;
	left: 950px;
	top: 35px;
	border:1px;
	border-style: solid;
	border-color:black;
	height:22px;
	width:150px;
}
#email
{
	position: absolute;
	left: 790px;
	top: 35px;
	border:1px;
	border-style: solid;
	border-color:black;
	height:22px;
	width:150px;
}
#fp
{
	position: absolute;
	left: 950px;
	top: 40px;
}
#li
{
	position: absolute;
	left: 1110px;
	top: 35px;
	height:22px;
}
#hari
{
	background-color : f7f7f7;
	width:1351px;
	height:575px;
	margin-left:-10px;
}
#pg
{
	position: absolute;
	left: 180px;
	top: 100px;
	font-size:23px;
	color:163161;
	font-family:Klavika;
}
#ig 
{
	position: absolute;
	left: 180px;
	top: 190px;
}
#qas
{
	position: absolute;
	left: 750px;
	top: 80px;
	font-family:Klavika;
	font-size:40px;
	font-weight: bold;
}
#pas
{
	position: absolute;
	left: 750px;
	top: 140px;
	font-family:Klavika;
	font-size:20px;
	font-weight: lighter;
}
#fn
{
	position: absolute;
	left: 750px;
	top: 200px;
	font-family:Klavika;
	font-size:20px;
	font-weight: lighter;
	height:35px;
	width:200px;
	border-radius:5px 5px 5px 5px;
}
#ln
{
	position: absolute;
	left: 970px;
	top: 200px;
	font-family:Klavika;
	font-size:20px;
	font-weight: lighter;
	height:35px;
	width:200px;
	border-radius:5px 5px 5px 5px;
}
#mn
{
	position: absolute;
	left: 750px;
	top: 250px;
	font-family:Klavika;
	font-size:20px;
	font-weight: lighter;
	height:35px;
	width:420px;
	border-radius:5px 5px 5px 5px;
}
#pd
{
	position: absolute;
	left: 750px;
	top: 300px;
	font-family:Klavika;
	font-size:20px;
	font-weight: lighter;
	height:35px;
	width:420px;
	border-radius:5px 5px 5px 5px;
}
#as
{
	position: absolute;
	left: 750px;
	top: 330px;
	font-family:Klavika;
	font-size:20px;
	font-weight: lighter;
}
#date
{
	position: absolute;
	left: 750px;
	font-family:Klavika;
	font-size:20px;
	font-weight: lighter;
	top: 380px;
	width:60px;
}
#month
{
	position: absolute;
	left: 820px;
	font-family:Klavika;
	font-size:20px;
	font-weight: lighter;
	top: 380px;
	width:60px;
}
#year
{
	position: absolute;
	left: 890px;
	font-family:Klavika;
	font-size:20px;
	font-weight: lighter;
	top: 380px;
	width:80px;
}
#gn
{
	position: absolute;
	left: 750px;
	top: 400px;
	font-family:Klavika;
	font-size:20px;
	font-weight: lighter;
}
#male
{
	position: absolute;
	left: 750px;
	top: 450px;
	font-family:Klavika;
	font-size:20px;
	font-weight: lighter;
}
#female
{
	position: absolute;
	left: 850px;
	top: 450px;
	font-family:Klavika;
	font-size:20px;
	font-weight: lighter;
}
#other
{
	position: absolute;
	left: 950px;
	top: 450px;
	font-family:Klavika;
	font-size:20px;
	font-weight: lighter;
}
#cs
{
	position: absolute;
	left: 975px;
	top: 447px;
	font-family:Klavika;
	font-size:20px;
	font-weight: lighter;
}
#fm
{
	position: absolute;
	left: 875px;
	top: 447px;
	font-family:Klavika;
	font-size:20px;
	font-weight: lighter;
}
#ml
{
	position: absolute;
	left: 775px;
	top: 447px;
	font-family:Klavika;
	font-size:20px;
	font-weight: lighter;
}
#lbl
{
	position: absolute;
	left: 750px;
	top: 470px;
	font-family:Klavika;
	font-size:13px;
	font-weight: lighter;
}
#su
{
	position: absolute;
	left: 750px;
	top: 550px;
	width:200px;
	font-family:Klavika;
	font-size:20px;
	font-weight: lighter;
	background-color:mediumseagreen;
	color:white ;
	height:40px;
}
#lts
{
	position: absolute;
	left: 750px;
	top: 600px;
	font-family:Klavika;
	font-size:13px;
	font-weight: lighter;
}