.body {
    margin: 0px;
    background-color: black;
    font-family: sans-serif;
}

.row1 {
    background: url("/images/headerbg.jpg");
    height: 186px;
    width: 1000px;
    margin: auto;
}

.row1col1 {
    float: left;
    margin: 20px;
    height: 160px;
    width: 210px;
   }

.row1col2 {
    float: left;
    margin: 20px;
    margin-top: 80px;
    text-align: center;
    height: auto;
    width: 350px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: blue;
}

.row1col3 {
    float: right;
    padding-top:10px ;
    line-height: 30px;
    margin: 20px;
    width: 296px;
    height: 122px;
    text-align: center;
    font-size: 20px;
    background: url("/images/topcontactbg.png");
}
.row2{
    background: url("/images/menubg.jpg")repeat;
    height: 36px;
    width: 840px;
    margin: auto;
    padding: 14px 80px 0px 80px;
}
.row2col_active{
    background: url("/images/menuactive.png")no-repeat;
    height: 35px;
    width: 127px;
    margin-left: 10px;
    text-align: center;
    font-weight: bold;
    line-height: 38px;
    float: left;
}
.row2col{
    background: url("/images/menubackground.png")no-repeat;
    height: 35px;
    width: 127px;
    margin-left: 10px;
    text-align: center;
    font-weight: bold;
    line-height: 38px;
    float: left;
}
.row3{
    margin: auto;
    width: 1000px;
    height: 250px;
}
.row3col1{
    float: left;
    width: 213px; 
    height: 240px;
    margin: 10px 10px;
}
.row3menu{
    background: url("/images/leftmenubg.png") no-repeat;
    height:40px ;
    width: 213px;
    text-align: center;
    font-weight: bold;
    font-size: 16px;
    line-height: 40px;
}
.row3col2{
    color: white;
    float: left;
    margin: 10px 10px;
    width: 740px; 
    height: 240px;
}
.row4{
    
    margin: auto;
    margin-top: 5px;
    width: 1000px;
    height: 210px;
}
.row4col1{
    padding-top: 10px;
    float: left;
    width: 210px; 
    height: 179px;
    margin:  10px;
    text-align: center;
    font-size: large;
    color: azure;
    background: url("/images/whybg.jpg");
    border: 1px solid white;
    border-radius: 12px;
    line-height: 20px;
}
.row4col2{
    float: left;
    width: 330px; 
    height: 185px;
    margin: 10px;
    padding-top: 10px;
    padding-left: 10px;
    line-height: 20px;
    background-color: #fdc059;
    border: 1px solid white;
    font-size: 15px;
}
.row4col3{
    float: left;
    width: 380px; 
    height: 189px;
    margin: 10px;
}
.row5{
    height: 48px;
    width: 1000px;
    margin: auto;
    margin-top: 10px;
    background: url("/images/footer_middle.png");
    border: 1px solid white;
    border-radius: 10px;
    text-align: center;
}

/* about page  */
.row3about{
    margin: auto;
    width: 1000px;
    height: 580px;
}
.about_info{
    background-color: white;
    height: max-content;
    margin: 10px;
    width: 700px;
    padding: 0px 20px;
    float: left;
}

/* courses page */
.row3courses{
    margin: auto;
    width: 1000px;
    height: 250px;
}

/* gallery page */
.row3gallery{
    margin: auto;
    width: 1000px;
    height: 650px;
}
.gallery_image{
    margin: 15px;
    float: left;
}

/* contact page */

.row3contact{
    margin: auto;
    width: 1000px;
    height: 275px;
}