* {
    margin: 0px;
    padding: 0px;
    list-style: none;
    text-decoration: none;
}

.loading {
    width: 100%;
    height: 100%;
    background-color: white;
    position: fixed;
    top: 0px;
    z-index: 999;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.left-footer a {
    text-decoration: none;
    color: white;
}

header {
    background: #FCFCFC;
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.20), 0px 2px 1px 0px rgba(0, 0, 0, 0.12), 0px 1px 1px 0px rgba(0, 0, 0, 0.14);
}

.navs ul li a {
    color: black !important;
}

.navs ul li:nth-child(2) a {
    color: #E84949 !important;
}

.navs ul li a:hover {
    color: #E84949 !important;
}

.navs ul li:nth-child(2) a:hover {
    color: black !important;
}

.introduction {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 30px;
}

.introduction span {
    font-size: 45px;
}

.introduction h2 {
    color: var(--navy-blue, #343D68);
    font-family: Be Vietnam;
    font-weight: 600;
    font-size: 32px;
    line-height: 117.6%;
    letter-spacing: 0.18px;
    text-transform: capitalize;
}

.introduction p {
    color: rgba(0, 0, 0, 0.70);
    font-size: 18px;
    font-family: Be Vietnam;
}

.photo {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.zigzags {
    width: 98.629px;
    height: 37.83px;
    position: absolute;
    top: 2.5%;
    left: 5%;
}

.plus {
    width: 26.346px;
    height: 27.022px;
    position: absolute;
    top: 0%;
}

.cube {
    width: 40.532px;
    height: 40.532px;
    flex-shrink: 0;
    position: absolute;
    right: 0%;
    top: 0%;
}

.ellipse {
    width: 21.617px;
    height: 21.617px;
    flex-shrink: 0;
    position: absolute;
    left: 5%;
    bottom: 5%;
}

.dots {
    flex-shrink: 0;
    position: absolute;
    right: 7%;
    bottom: 6%;
}

.heading {
    color: var(--red, #E84949);
    font-size: 20px;
    font-family: Be Vietnam;
    font-weight: 500;
}

.polygon {
    width: 75px;
    height: 75px;
    background: url(/images/Polygon1.svg) no-repeat;
    background-size: 100% 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.projects {
    background: var(--navy-blue, #343D68);
}

.project-card {
    border-radius: none;
    background-color: #262C4D;
    color: white;
    border-image: linear-gradient(45deg, #20ECD3, #0D54BE) 10;
}

.p-button {
    background-color: #262C4D;
    color: white;
    border: 3px solid whitesmoke;
}

.contact input,
.contact textarea {
    margin: 20px auto;
    padding: 12px;
    resize: none;
    font-size: 16px;
    border-radius: 4px;
    border: 1px solid var(--outline, rgba(0, 0, 0, 0.12));
    background: #FFF;
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.20), 0px 2px 1px 0px rgba(0, 0, 0, 0.12), 0px 1px 1px 0px rgba(0, 0, 0, 0.14);
}

.footer-top {
    background-image: url(/images/bgWave.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 150px;
}

.footer {
    background-color: #343D68;
    position: relative;
    top: -5px;
}

.footer-text {
    color: #FFF;

    /* section title */
    font-size: 20px;
    font-family: Be Vietnam;
    font-weight: 500;
}

.icons {
    font-size: 30px;
}

.left-footer {
    color: #FFF;

    /* section title */
    font-size: 20px;
    font-family: Be Vietnam;
    font-weight: 500;
}
