*{
    margin: 0px ;
    padding: 0px;
    font-family: 'Lato', sans-serif;
    list-style: none;
}
:root{
    --primaryColorBlue:#035fae;
    --primaryColorYellow:#ffc107;
}
@keyframes blink{
    0%{
        background-color: var(--primaryColorBlue);
    }
    50%{
        background-color: var(--primaryColorYellow);
    }
    100%{
        background-color: var(--primaryColorBlue);
    }
}
@keyframes truck-run{
    0%{
        bottom: -8px;
        left: -120px;
    }
    100%{
        bottom: -8px;
        left: 110%;
    }
}
main{
    width: 100%;
    height: 100%;
}
.truck-body{
    position: fixed;
    z-index: 99;
    bottom: -10px;
    left: -120px;
    animation: truck-run 10s linear infinite ;
}
.truck-wheels{
    display: flex;
    gap: 64px;
    margin-left: 10px;
    position: relative;
    top: -8px;
}
.header-outer{
    width: 100%;
    background-color: white;
    position: sticky;
    top: 0px;
}
header{
    width: 1170px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.contact{
    flex-basis: 250px;
    gap: 7%;
    height: 50px;
    color: white;
    background-color: var(--primaryColorBlue);
    border-radius: 25px 25px 0px 25px;
    font-size: 25px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: name duration timing-function delay iteration-count direction fill-mode;
    animation: blink 1s infinite;
}
.section1{
    background: url(/PackShift/images/banner.jpg);
    background-size: cover;     
    padding: 4% 0%;
}
.container{
    width: 1170px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.content-banner{
    flex-basis:65%;
}
.content-banner>h1{
    padding: 2% 0%;
    font-size: 28px;
    font-family: 'Lato', sans-serif;
    color: white;
}
.content-banner>h2{
    padding: 2% 0%;
    font-size: 25px;
    font-weight: bolder;
    font-family: 'Lato', sans-serif;
    color: white;
}
.content-banner>p{
    padding: 2% 0%;
    font-size: 20px;
    font-family: 'Lato', sans-serif;
    color: white;
}
.marks{
    display: flex;
    padding: 2% 0%;
}
.form-banner{
    flex-basis: 28%;
    padding: 2%;
    text-align: center;
    background-color: #F3F3F3;
    border-radius: 30px;
}
form{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.form-banner>form>input{
    width: calc(100%-10px);
    margin-top: 5%;
    height: 32px;
    border: 1px solid #ced4da;
    padding-left: 10px;
}
.form-banner>form>input:last-child{
    background-color: #035fae;
    font-size: 18px;
    font-weight: 700;
    color: #F3F3F3;
}
.form-banner>form>input:last-child:hover{
    background:-webkit-linear-gradient( var(--primaryColorYellow),var(--primaryColorBlue));
}
.form-banner>form>p{
    margin-top: 5%;
    font-size: 12px;
    line-height: 20px;
    text-align: left;
}
.form-banner>form>p>a{
    text-decoration: none;
    color: darkcyan;
}
.captcha{
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.input-outer{
    flex-basis: 45%;
    margin-top: 5%;
}
.input-outer>input{
    width: 100%;

    height: 32px;
    border: 1px solid #ced4da;
    padding-left: 10px;
}
.captcha-image{
    flex-basis: 45%;
    margin-top: 5%;
}
.captcha-image>figure{

    width: 100%;
    overflow: hidden;
}
.captcha-image>figure>img{
    width: 100%;
    height: 32px;
}
.container-column{
    width: 1170px;
    margin: auto;
}
.section-heading{
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    line-height: 100px;
    color: var(--primaryColorBlue);
}
.section-heading>span{
    color: var(--primaryColorYellow);
}
.section-content{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.yt-box{
    flex-basis: 31%;
}
.yt-video{
    width: 100%;
    height: 210px;
    border-radius: 20px;
    overflow: hidden;
}
.yt-box>h1{
    text-align: center;
    font-size: 20px;
    padding-top: 10px;
    padding-bottom: 25px;
    color: var(--primaryColorBlue);
}

.section3{
    background: #F3F3F3;
}
.service{
    flex-basis: 48%;
    background-color: white;
    border-radius: 20px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 5%;
    box-shadow: 0px 0px 3px 1px #ccc;
}
.service-inner>h2{
    text-align: center;
    color: var(--primaryColorBlue);
    font-weight: bolder;
    line-height: 50px;
    padding-top: 20px;
}
.service-inner>figcaption{
    text-align: justify;
    color: gray;
    line-height: 30px;
    padding: 0% 5%;
}   
.button-outer{
    display: flex;
    justify-content: center;
    padding: 5% 0px;
}
.button-outer button{
    margin: auto;
    font-size: 14px;
    border-radius: 5px;
    font-weight: bold;
    padding:8px 20px;
    border: none;
    background-color: var(--primaryColorYellow);
    box-shadow: 0px 0px 5px 4px #ccc;
}
.service-img>img{
    width: 100%;
}

.subheading{
    text-align: center;
    margin-bottom: 4%;
}
.WhyPack{
    padding: 1.5% 0%;
    flex-basis: 23%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: #F3F3F3;
    margin-bottom: 3%;
    border-radius: 20px;
    box-shadow: 0px 0px 2px 1px #ccccccb9;
}
.WhyPack>figure{
    padding-top: 20px;
}
.WhyPack>figcaption>h4{
    padding: 10px 5px;
    font-size: 14px;
    text-align: center;
}

.section5{
    background-color: var(--primaryColorBlue);
}
.white{
    color: white;
}
.padbottom{
    margin-bottom: 50px;
}
.ACHIEVEMENT{
    flex-basis: 14%;
    justify-content: space-between;
    text-align: center;
}
.ACHIEVEMENT>figcaption{
    color: white;
    font-size: 17px;
    margin-bottom: 40px;
}
.ACHIEVEMENT>figcaption>h1{
    font-size: 30px;
    line-height: 50px;
}

.review{
    background-color: var(--primaryColorBlue);
    flex-basis: 70%;
    padding: 70px 20px  ;
    color: white;
    display: flex;
    justify-content: left;
    align-items: center;
    border-radius: 30px ;
    margin-bottom: 30px;
}
.portrait{
    background-color: var(--primaryColorYellow);
    border-radius: 0px 15px 0px 15px;
    position: relative;
    left: -95px;
}
.portrait>figcaption{
    padding-bottom:10px;
    text-align: center;
}
.center{
    justify-content: center;
}
.review>i{
    position: relative;
    left: -60px;
    top: -20px;
}
.review-text{
    position: relative;
    left: -50px;
    line-height: 30px;
}
.section7{
    background-color: #F3F3F3;
}
.clients{
    border-radius: 20px ;
    overflow: hidden;
    margin: 20px;
    background-color: white;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.BRANCHES{
    flex-basis: 46%;
    background-color: #F3F3F3;
    border-radius: 20px;
    padding: 20px 10px;
    text-align: center;
    margin-bottom: 30px;
}
.BRANCHES>i{
    font-size: 50px;
    color: var(--primaryColorYellow);
    line-height: 70px;
}
.BRANCHES>h1{
    font-size: 30px;
    line-height: 70px;
}
.BRANCHES>p{
    font-size: 16px;
    line-height: 25px;
}
.section9{
    background-color: #F3F3F3;
}
.list{
    text-align: left;
    margin-bottom: 30px;
}
.list>h1{
    font-size: 18px;
    line-height: 30px;
    font-weight: bold;
}
.list>ul{
    color: grey;
    line-height: 25px;
}
.footerpart1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom:4px solid white ;
    line-height: 50px;
}
.rights{
    display: flex;
    align-items: center;
}
footer{
    background-color: var(--primaryColorBlue);
}

.left{
    font-size: 16px;
}
.footer-inner{
    width: 1170px;
    margin: auto;
}
.footerpart2{
    text-align: center;
    line-height: 50px;
}
.fixed-call{
    display: none;
}