*{
    margin: 0px;
    padding: 0px;
    /* font-family: sans-serif; */
}
.clear{
    clear: both;
}
.header{
    width: 100%;
    height: 150px;
    /* border: 1px solid red; */
    border-top: 3px solid #0063b7;
    border-bottom: 5px solid #dfdfdf;
    background:url(images/newhomme.png)repeat;
}
.headermain{
    width: 1000px;
    margin: auto;
    /* border: 1px solid red; */
}
.logo{
    width: 400px;
    margin-top: 15px;
    float: left;
    /* border: 1px solid red; */
}
.info{
    width: 400px;
    float: right;
    text-align: right;
    margin-top: 15px;
    line-height: 27px;
    /* border: 1px solid red; */
}
.flag{
    width: 20px;
    float: left;
    margin-left:240px ;
    margin-top: 5px;
    /* border: 1px solid red; */
}
.navbar{
    width: 1000px;
    height: 38px;
    margin: auto;
    background: url(images/menubgrep.png);
    border-radius: 50px;
    /* border: 1px solid red; */
    position: relative;
    bottom: 28px;
    padding-top: 12px;
}
.navbar ul li{
    padding:15px;
    color: #fff;
    border-right: 1px solid #00488a;
    border-left: 1px solid #31a4d1;  
    display: inline;
    text-decoration: none;
}
.navtext{
    float: left;
}
.navbar ul li:nth-child(1){
    border-left: none;
}
.navbar ul li:nth-child(8){
    border-right: none;
    
}
.navimg{
    width: 200px;
    float: right;
}
.imgpart{
    width: 60px;
    float: left;
    position:relative;
    bottom: 20px;
}
.banner{
    width: 100%;
    height: 391px;
    background: url(images/sliderbg1.jpg);
    /* border: 1px solid red; */
    
}
.bannerinside{
    width: 1000px;
    height: 391px;
    margin: auto;
    background: url(images/slider.jpg);
}

.service-part{
    width: 1000px;
    height: 83px;
    margin: auto;
    background: url(images/hometitlebar.png)no-repeat;
    margin-top: 40px;
    font-size: 20px;
    font-weight: bold;
}
.midcontant{
    width: 1000px;
    height: 250px;
    /* border: 1px solid red; */
    margin: auto;
}
.midcontant1{
    width: 480px;
    height: 170px;
    float: left;
    /* border: 1px solid red; */
}
.ptag1{
    width: 330px;
    height: 140px;
    /* border: 1px solid red;  */
    float: left;
}
.headpart{
    width: 350px;
    height: 25px;
    font-size: 20px;
    /* border: 1px solid red;  */
}
.prtag{
    padding-top: 15px;
    line-height: 27px;
    font-size: 15px;
}
.smallimg{
    width:120px;
    height:130px;
    /* border: 1px solid red; */
    float:right;
    margin-right: 27px;
    overflow: hidden;
}
.smallimg img{
    transition: 2s;
    width: 100%;
    height: 100%;
}
.smallimg:hover img{
   transform: scale(1.5,1.5);
}
.arrow{
    width: 400px;
    height: 20px;
    margin-top: 67px;
    /* border: 1px solid red; */
}
.arrow2{
    width: 400px;
    height: 20px;
    margin-top: 40px;
    /* border: 1px solid red; */
}
.midcontant2{
    width: 480px;
    height: 140px;
    margin-left: 35px;
    float: left;
    /* border: 1px solid red; */
}
.midcontantpart2{
    width: 1000px;
    height: 280px;
    /* border: 1px solid red; */
    margin: auto;
    background: url(images/midback.png)no-repeat;
}
.footerpart{
    width: 100%;
    height: 350px;
    /* border: 1px solid red; */
    margin-top: 20px;
    background: url(images/footer_back.png)#0d61a1;
    background-size: cover;
}
.footermid{
    width: 1000px;
    height: 350px;
    /* border: 1px solid red; */
    margin: auto;
}
.footermid1{
    width: 300px;
    height: 300px;
    /* border: 1px solid red; */
    color: #fff;
    padding-top: 15px;
    padding-left: 20px;
    float: left;
}
.footerimg{
    width: 15px;
    height: 10px;
    /* border: 1px solid red; */
    background: url(images/footer_arrow.png)no-repeat;
    float: left;
    margin-top: 5px;
}
.footerhome{
    width: 200px;
    height: 30px;
    /* border: 1px solid red; */
    float: left;
}
.footercontent{
    width: 220px;
    height:20px;
    margin-top: 15px;
    margin-left: 10px;
    font-size: 14px;
    /* border: 1px solid red; */
}
.footeradd{
    width: 250px;
    height: 30px;
    /* border: 1px solid #fff; */
    text-align: right;
    margin-top: 15px;
    border-right: 1px solid #fff;
    font-size: 14px;
    padding: 5px;
}
.footeradd2{
    width: 250px;
    height: 30px;
    /* border: 1px solid #fff; */
    text-align: right;
    margin-top: 15px;
    font-size: 14px;
    padding: 5px;
}
.footerline{
    width: 100%;
    height: 20px;
    background-color: #1772af;
}

/*---------------------- first-page-end---------------------- */

.midimg{
    width: 1000px;
    height: 85px;
    margin: auto;
    /* border: 1px solid red; */
    background: url(images/inner_menubelow2__.png)no-repeat;
}
.blubmid{
    width: 150px;
    height: 100px;
    position: relative;
    bottom: 15px;
    left: 10px;
    float: left;
    /* border: 1px solid red; */
}
.blubtxt{
    width: 400px;
    height: 45px;
    /* border: 1px solid red; */
    float: left;
    font-size: 20px;
    margin-top: 20px;
}
.midpr{
    width: 1000px;
    height: 200px;
    margin: auto;
    margin-top: 30px;
    /* border: 1px solid red; */
}
.pr1{
    width: 1000px;
    height: 100px;
    font-size: 15px;
    line-height: 25px;
    /* border: 1px solid red; */
}

/* --------------------About-us page end-------------   */

.midtestimonialpr{
    width: 1000px;
    height: 60px;
    margin: auto;
    margin-top: 30px;
    font-size: 15px;
    /* border: 1px solid red; */
}
.midtestimonialpr2{
    width: 930px;
    height: 110px;
    margin: auto;
    font-size: 14px;
    padding-left: 70px;
    padding-top: 10px;
    border: 1px solid rgb(127, 159, 228);
    line-height: 30px;
    margin-top: 10px;
    border-radius: 8px;
}
.prrightimg{
    width: 40px;
    height: 30px;
    position: relative;
    right: 40px;
    bottom: 60px;
    /* border: 1px solid red; */
}
.prrightimg2{
    width: 40px;
    height: 30px;
    position: relative;
    bottom: 55px;
    left: 220px;
    /* border: 1px solid red; */
}
.renegpart{
    width: 40px;
    height: 30px;
    /* border: 1px solid red;    */
}
.renegpart{
    width: 100px;
    height: 60px;
    line-height: 25px;
    font-size: 17px;
    padding-top: 10px;
    float:right;
    color: #0063b7;
}
.formpartts{
    width: 1000px;
    height: 400px;
    margin: auto;
    margin-top: 50px;
    border: 1px solid rgb(127, 159, 228);
    border-radius: 8px;
}
.textpart{
    margin-top: 10px;
    padding-left: 20px;
}
.formpart{
    width: 340px;
    height: 360px;
    margin-left: 20px;
    /* border: 1px solid red; */
}

/*-------------- testimonial-part-end -----------------------    */

.formtraining{
    width: 1000px;
    height: 400px;
    margin: auto;
    margin-top: 50px;
    border: 1px solid rgb(127, 159, 228);
    border-radius: 8px;
}

/*----------------- training-part-end ------------------ */

.portfolio-part{
    width: 1000px;
    height: 400px;
    margin: auto;
    margin-top: 40px;
    /* border: 1px solid red; */
}
.img1{
    width: 200px;
    height: 350px;
    margin-top: 20px;
    float: left;
    margin: 20px;
    /* border: 1px solid red; */
}
.prpart{
    width: 220px;
    height: 40px;
    text-align: center;
    line-height: 23px;
    margin-top: 10px;
    background-color: #f3f9fc;
    /* border: 1px solid red; */
}
.viewpart{
    width: 220px;
    height: 30px;
    padding-top: 10px;
    margin-top: 10px;
    background-color: #f3f9fc;
    color: #01579f;
    /* border: 1px solid red; */
}

/*------------- portfolio-part-end ------------------ */
.addpart{
    width: 1000px;
    height: 40px;
    margin: auto;
    margin-top: 20px;
    text-align: center;
    /* border: 1px solid red; */
}
.addpr{
    width: 1000px;
    height: 150px;
    margin: auto;
    /* border: 1px solid red; */
}
.addpr1{
    width: 300px;
    height: 150px;
    padding-top: 10px;
    text-align: center;
    padding-left: 30px;
    float: left;
    color: #01579f;
    font-size: 15px;
    line-height: 20px;
    border-right: 1px dotted #01579f;
}
.addimgpart{
    width: 1000px;
    height: 200px;
    margin: auto;
    padding-left: 160px;
    margin-top: 40px;
    /* border: 1px solid red; */
}
.addcontent{
    width: 200px;
    height: 200px;
    float: left;
    margin-left: 20px;
    /* border: 1px solid red; */
}
.addimg1{
    width: 140px;
    height: 100px;
    /* border: 1px solid red; */
    border-radius: 50%;
    background:#9ec3e3;
    text-align: center;
    padding-top: 40px;
}
.addprtag{
    width:150px;
    height:50px;
    font-size: 14px;
    text-align: center;
    line-height: 22px;
    color: #9ec3e3;
    /* border: 1px solid red; */
}
.formmappart{
    width: 1000px;
    height: 500px;
    margin: auto;
    margin-top: 50px;
    /* border: 1px solid red; */
}
.formmappart1{
    width: 400px;
    height: 500px;
    float: left;
    /* border: 1px solid red; */
}
.formmappart2{
    width: 595px;
    height: 500px;
    float: left;
    /* border: 1px solid red; */
}

/*------------------ contactus-part-end-------------------- */

.carrespart{
    width: 1000px;
    height: 600px;
    margin: auto;
    margin-top: 40px;
    /* border: 1px solid red; */
}
.cpr{
    width: 1000px;
    height: 150px;
    margin-top: 10px;
    /* border: 1px solid red;  */
}
.cprleft{
    width: 200px;
    height: 200px;
    /* border: 1px solid red;  */
    float: left;
    line-height: 30px;
    margin-left: 25px;
    font-size: 15px;
    font-weight: bold;
}
.cprright{
    width: 750px;
    height: 200px;
    float: left;
    line-height: 25px;
    font-size: 15px;
    /* border: 1px solid red;  */
}



.midpr2{
    width: 1000px;
    height: 300px;
    margin: auto;
    margin-top: 30px;
    /* border: 1px solid red; */
}

/*------------------- carres-part-end-------------------- */

.blubtxt2{
    width: 500px;
    height: 45px;
    /* border: 1px solid red; */
    float: left;
    padding-left: 10px;
    font-size: 20px;
    margin-top: 20px;
}
.pr1 li{
    padding-left: 20px;
}
.midparteo{
    width: 1000px;
    height: 300px;
    margin: auto;
    margin-top: 40px;
    /* border: 1px solid red; */
}
.midparteo1{
    width: 200px;
    height: 300px;
    float: left;
    /* border: 1px solid red; */
    padding-left: 20px;
    padding-top: 30px;
    line-height: 30px;
    font-size: 15px;
    color: #01579f;
}
.midparteo2{
    width: 770px;
    height: 300px;
    float: left;
    font-size: 15px;
    padding-top: 40px;
    line-height: 22px;
    /* border: 1px solid red; */
}