* {
    margin: 0px;
    padding: 0px;
    list-style: none;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}

header {
    width: 100%;
    /* border: 1px solid red; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    box-shadow: 0 4px 6px -6px #222;
    position: sticky;
    top: 0px;
    z-index: 10;
}

header img {
    padding-left: 12px;
}

header ul {
    display: flex;
    gap: 15px;
    align-items: center;
    font-weight: 600;
    font-size: 14px;
    cursor: pointer;
}

header ul li:hover {
    color: #c27a2e;
}

header ul li button {
    padding: 6px 10px;
    background-image: linear-gradient(to right, #c27a2e, #cd8a43, #db9e5c, #895b2a);
    font-weight: bold;
    color: white;
    border: none;
}

.swing {
    animation: swings 1.5s linear infinite;
    margin-right: 12px;
}

.banner {
    width: 100%;
}

.banner .item img {
    width: 100%;
}

.register {
    background: url(/dubaifashion/images/blue.webp);
    background-size: cover;
    width: calc(100%-20px);
    padding: 40px 10px;
}

.inner {
    width: 1320px;
    /* border: 1px solid red; */
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.register-left {
    /* border: 1px solid green; */
    flex-basis: 55%;
    text-align: center;
    font-size: 30px;
    padding: 0% 5%;
}

.register-left h1 {
    color: white;
}

.register-left h1 span {
    color: #c27a2e;
}

.register-left p {
    font-size: 14px;
    color: white;
    margin: 10px 40px;
    line-height: 25px;
}

.community {
    /* border: 1px solid brown; */
    width: 80%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.community-item {
    flex-basis: 45%;
    text-align: center;
    margin: 10px;
}

.community-item:nth-child(odd) {
    border-right: 1px solid #c27a2e;
}

.community-item h3 {
    color: white;
    font-weight: 200;
    font-size: 18px;
}

.community-item span {
    color: #c27a2e;
    font-weight: 200;
    font-size: 18px;
}

.register-right {
    display: flex;
    flex-basis: 35%;
    justify-content: center;
    align-items: center;
}

.register-form {
    background: white;
    width: 80%;
    padding: 10px 0px;
    text-align: center;
    border-radius: 10px;
}

.register-form form h4 {
    color: #c27a2e;
    font-size: 22px;
    margin: 20px 0px;
}

.register-form form input {
    width: 90%;
    padding: 8px 8px;
    margin-bottom: 15px;
    outline: none;
    border: none;
    border-bottom: 1px solid grey;
    border-radius: 3px;
}

.register-form form textarea {
    width: 90%;
    height: 80px;
    padding: 8px 8px;
    outline: none;
    margin-bottom: 20px;
    border: none;
    border-bottom: 1px solid grey;
    border-radius: 3px;
    resize: none;
}

.register-form form button {
    padding: 15px 30px;
    background: linear-gradient(#df7f18 0%, #cd2721 99%);
    border: none;
    border-radius: 50px;
    font-weight: bold;
    color: white;
    margin-bottom: 30px;
}

.gallery {
    width: 100%;
}

.gallery h1 {
    text-align: center;
    padding: 20px 0px;
    font-size: 30px;
}

.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
    background: #c27a2e;
}

.owl-prev {
    position: absolute;
    width: 30px;
    background-color: #cd27218e !important;
    color: white !important;
    font-size: 25px !important;
    font-weight: bold !important;
    border-radius: 50% !important;
    left: 0px !important;
    top: 35%;
}

.owl-next {
    position: absolute;
    width: 30px;
    background-color: #cd27218e !important;
    color: white !important;
    font-size: 25px !important;
    font-weight: bold !important;
    border-radius: 50% !important;
    right: 0px !important;
    top: 35%;
}

.whyjvt {
    width: 100%;
    background-color: white;
}

.inner-jvt {
    width: 1320px;
    margin: auto;
    border: 1px solid red;
    margin: 30px auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.inner-jvt figure {
    flex-basis: 100%;
}

.inner-jvt figure img {
    width: 200px;
    display: block;
    margin: auto;
}

.inner-jvt figcaption {
    flex-basis: 90%;
    text-align: center;
    padding: 15px 0px;
}

.whyjvt-items {
    flex-basis: 80%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 50px;
}

.jvt-item img {
    width: 150px;
}

.inner-jvt h1 {
    margin-top: 20px;
}

#floorplans {
    display: flex;
    gap: 20px;
    flex-basis: 100%;
    justify-content: center;
    margin: 20px auto;
}

#floorplans img {
    width: 250px;
}

.amenities {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.amenities-inner {
    display: flex;
    flex-basis: 1170px;
    flex-wrap: wrap;

}

.amenities-inner h1 {
    line-height: 80px;
}

.tabs {
    width: 100%;
    background-color: inherit;
    border-radius: 5px 5px 5px 5px;
}

ul#tabs-nav {
    list-style: none;
    margin: 0;
    padding: 5px;
    overflow: auto;
    margin: 10px 0px;
}

ul#tabs-nav li {
    float: left;
    font-weight: 400;
    margin-right: 2px;
    padding: 8px 10px;
    border-radius: 5px 5px 5px 5px;
    /*border: 1px solid #d5d5de;
    border-bottom: none;*/
    cursor: pointer;
}

#tabs-nav li a {
    text-decoration: none;
    color: black;
}

ul#tabs-nav li:hover,
ul#tabs-nav li.active {
    background-color: #cd2721;
}

ul#tabs-nav li:hover a,
ul#tabs-nav li.active a {
    color: white !important;
}



.tab-content {
    padding: 10px;
    background-color: #FFF;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 90%;
    margin: auto;
    margin-bottom: 60px;
}

.tab-item {
    flex-basis: 15%;
    /* border: 1px solid red; */
    text-align: center;
    margin: 20px auto;
    font-size: 12px;
    font-weight: bold;
}

.tab-item img {
    width: 50px;
    display: block;
    margin: auto;
    margin-bottom: 10px;
}

.map {
    width: 100%;
    margin: auto;
}

.map-inner {
    width: 70%;
    /* border: 1px solid red; */
    text-align: center;
    margin: auto;
    font-size: 20px;
}

.map-inner img {
    width: 100%;
    margin: 20px auto;
}

.walkthrough-inner {
    width: 70%;
    /* border: 1px solid red; */
    text-align: center;
    margin: auto;
    font-size: 20px;
    margin-top: 30px;
}

.walkthrough-inner iframe {
    margin: 20px auto;
}

.enquire {
    width: 100%;
}

.enquire-inner {
    width: 80%;
    margin: 40px auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.enquire-banner {
    flex-basis: 30%;
}

.enquire-banner img {
    width: 70%;
    display: block;
    margin: auto;
}

.enquire-form {
    flex-basis: 69%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.enquire-form h1 {
    flex-basis: 100%;
    text-align: center;
}

.enquire-form input {
    flex-basis: 47%;
    height: 30px;
    padding-left: 10px;
}

.enquire-form textarea {
    flex-basis: 96%;
    padding: 2%;
    resize: none;
    height: 20%;
}

.enquire-form button {
    background-color: #cd2721;
    flex-basis: 100%;
    font-size: 20px;
    cursor: pointer;
    border: none;
}

footer {
    background: url(/dubaifashion/images/footer.webp);
    background-size: cover;
    width: 100%;
    margin-top: 10px;
}

.footer-inner {
    padding: 20px;
    width: 80%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
}

.footer-logo {
    display: flex;
    flex-basis: 30%;
    flex-wrap: wrap;
}
.footer-logo span{
    flex-basis: 100%;
    color: white;
    padding: 10px 0px;
    font-size: 14px;
}
.footer-logo img{
    width: 80%; 
}



@keyframes swings {
    0% {
        transform: rotate(8deg);
    }

    25% {
        transform: rotate(0deg);
    }

    50% {
        transform: rotate(-8deg);
    }

    75% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(8deg);
    }
}

.hover-underline-animation {
    display: inline-block;
    position: relative;
}

.hover-underline-animation:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #c27a2e;
    transform-origin: bottom left;
    transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}