*{
    margin: 0px ;
    padding: 0px;
}
.main1{
    width: 100%;
    background: rgb(0,0,0,.5);
    padding: 50px 0px;
    border-top: 12px solid #ffcb00;
}
.inner{
    width: 1170px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.banner{
    flex-basis: 68%;
}
.banner img{
    width: 100%;
}
.form{
    flex-basis: 30%;
    background: white;
    border-radius: 20px 20px 0px 0px;
    overflow: hidden;
    font-family: 'Rubik',sans-serif;
}
.form h1{
    text-align: center;
    width: 100%;
    background: #174566;
    color: white;
    line-height: 60px;
}
.inner-form{
    padding: 20px;
    /* border: 1px solid red; */
    display: flex;
    /* justify-content: flex-start; */
    flex-direction: column;
}
.form h2{
    font-size: 18px;
    font-weight: 100;
    margin-top: 10px;
    margin-bottom: 5px ;
}
.form span{
    color: red;
}
.form input{
    padding: 10px;
    width: 100%;
    margin-bottom: 10px;
}
.radio{
    display: flex;
    margin: 3% 0%;
}
.radio input{
    width: 15px;
    margin-right: 20px;
}
.form select{
    padding: 10px;
    width: 100%;
    margin-bottom: 10px;
    color: gray;
}
.form button{
    padding: 10px;
    background-color: #ffcb00;
    border: none;
    font-size: 20px;
    border-radius: 5px;
    margin: 10% 0Px 5% 0px;
}
.main2{
    width: 100%;
}
.heading{
    /* width: 100%; */
    margin:50px auto;
    font-size: 22px;
    flex-wrap: wrap;
    margin-bottom:20px;
}
.heading h1{
    margin-bottom: 10px;
    text-align: center
}
.heading img{
    display: block;
    margin: auto;
}
.cards{
    flex-basis: 100%;
    display: flex;
    /* border: 1px solid red; */
    flex-wrap: wrap;
    justify-content: space-between;
}
.card{
    flex-basis: 30%;
    /* border: 1px solid blue; */
    position: relative;
    margin-top: 35px;
    padding-bottom: 50px;
}
.card1{
    
    flex-basis: 48%;
    position: relative;
    display: flex;
    margin-top: 35px;
    padding-bottom: 50px;
}
.pallet{
    /* border:1px solid green; */
    position: absolute;
    top: -35px;
    left:10% ;
    width: 80%;
    height: 70px;
    border-radius: 10px 10px 0px 0px;
}
.white-card{
    flex-basis: 100%;
    text-align: center;
    border: 1px solid grey;
    border-radius: 10px;
    line-height: 30px;
    position: relative;
    padding-bottom: 20px;
}
.round-icon{
    position: relative;
    background-color: white;
    width: 150px;
    height: 150px;
    margin: auto;
    top: -20px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card1 ul{
    text-align: left;
    margin-left: 40px;
}
.card1 ul li{
    padding-left: 10px;
    padding-right: 10px;
}
.main3{
    background: #e9ecf5;
    width: 100%;
    height: 720px;
}
.row2{
    width: 100%;
    /* border: 1px solid red; */
    display: flex;
    justify-content: center;
    padding: 20px;
    position: relative;
}
.row2img{
    background: url(/law-patna/images/frame.png);
    background-size: cover;
    height: 370px;
    width: 600px;
    position: relative;
}
.img1{
    position: absolute;
    top: 100px;
    left: 60px;
}
.img2{
    position: absolute;
    top: 100px;
    right: 60px;
}
.row2-content-1{
    position: absolute;
    text-align: right;
    width: 200px;
    top: 120px;
    left: 50px;
}
.row2 h5{
    font-size: 20px;
    margin-bottom: 10px;
}
.row2 p{
    font-size: 14px;
    font-weight: 500;
}
.row2-content-2{
    position: absolute;
    width: 200px;
    top: 140px;
    right: 60px;
    text-align: left;
}
.row2-content-3{
    position: absolute;
    width: 200px;
    top: 330px;
    left: 160px;
    text-align: right;
    
}
.row2-content-4{
    position: absolute;
    width: 200px;
    top: 330px;
    right: 160px;
    text-align: left;
}
.tabel{
    width: 100%;
    margin-bottom: 5%;
}
.tabel table{
    width: 100%;
    text-align: center;
    /* border: 1px solid grey; */
}
th{
    background-color: #ec3237;
    color: white;
    font-size: 25px;
    padding: 10px 0px;
}
td{
    padding: 10px 0px;
    border-bottom: 1px solid dimgrey;
}
tr:nth-child(odd){
    background-color: lightgrey;
}
.main4{
    width: 100%;
    background-color: #e9ecf5;
}
.paragraph{
    flex-basis: 100%;
    /* border: 1px solid red; */
    text-align: center;
    font-size: 22px;
    line-height: 30px;
    margin-bottom: 20px;
}
.paragraph p{
    width: 85%;
    margin: auto;
}
.contain{
    flex-basis: 100%;
    /* border: 1px solid red; */
    display: flex;
    justify-content: center;
}
.box{
    flex-basis: 250px;
    height: 400px;
    margin-left: 20px;
    background: white;
    /* border: 1px solid green; */
    display: flex;
    align-items: flex-end;
    justify-content: center;
    border-bottom: 5px solid white;
    border-radius: 5px ;
    margin-top: 2%;
    margin-bottom: 5%;
    transition: .8s;
}
.box:hover{
    background-color: #ffcb00;
    border-bottom: 5px solid grey;
    
}
.box:hover .photo h1{
    color: black;
}
.photo{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.photo h1{
    flex-basis: 100%;
    font-size: 22px;
    text-align: center;
    line-height: 60px;
    color: grey;
    transition: .8s;
}

.students{
    flex-basis: 100%;
    border: 1px solid red;
    display: flex;
    flex-wrap: wrap;    
    justify-content: space-around;
}
.student{
    flex-basis: 28%;
    border: 1px solid blue;
}