*{
    margin: 0px;
    padding: 0px;
    font-family: Arial;
    scroll-behavior: smooth;
}
body{
    background: url(/one_page1/images/waves_.jpg) center center fixed;
    background-size: cover;
}
.main{
    width: 1000px;
    margin: auto;
}
.row1{
    width: 100%;
    background:url(/one_page1/images/headerbg.jpg) center center fixed;
    background-size: cover;
}
.row1_transparent{
    width: 100%;
    border-bottom: 10px solid #0083ce;
    background: rgba(0, 0, 0, 0.5);
}
.logo{
    text-align: center;
}
.logo img{
    width: 300px;
    margin: 20px;
}
.quote{
    display: table;
    margin: 100px auto;
    text-align: center;
    border-top: 2px solid skyblue;
    border-bottom: 2px solid skyblue;
    line-height: 50px;
    font-size: 35px;
    padding: 30px;
    color: white;
}
.navbar{
    display: table;
    padding: 20px;
    margin: auto;
}
.navbar ul li{
    display: inline-block;
    color: white;
    padding: 10px 25px;
    border-right: 2px solid white;
}
.navbar ul li a{
    text-decoration: underline;
    color: white;
}
.navbar ul :last-child{
    border: none;
}
.row2{
    width: 100%;
    background:url(/one_page1/images/3.jpg) center center fixed;
    background-size: cover;
}
.transparent{
    background: rgba(0,0,0,0.5);
    padding: 130px;
}
.transparent h1{
    display: table;
    padding: 5px;
    color: white;
    border: 5px solid white;
    text-align: center;
    margin: auto;
}
.content{
    background: white;
}
.content p{
    text-align: center;
    padding: 20px 30px;
    line-height: 30px;
}
.content h3{
    margin-top: 50px;
    margin-bottom: 10px;
    text-align: center;
}
.content a{
    display: block;
    color: black;
    text-decoration: none;
    text-align: center;
    margin-bottom: 100px;
}
.content img{
    display: block;
    margin: auto;
    margin-bottom: 50px;
}
.content a:last-child{
    display: block;
    color: black;
    font-size: 25px;
    text-decoration: underline;
    text-align: center;
    margin-bottom: 0px;
    padding-bottom: 70px;
}
.row3{
    width: 100%;
    background:url(/one_page1/images/1.jpg)  center center fixed;
    background-size: cover;
}
.row4{
    width: 100%;
    background:url(/one_page1/images/2.jpg)  center center fixed;
    background-size: cover;
}
.row5{
    width: 100%;
    background:url(/one_page1/images/banner-7.jpg)  center center fixed;
    background-size: cover;
}
.row6{
    width: 100%;
    background:url(/one_page1/images/4.jpg)  center center fixed;
    background-size: cover;
}
.content h1{
    text-align: center;
    padding-top: 2%;
}
.contact_info{
    font-size: 20px;
    text-align: center;
    padding: 5%;
    line-height: 40px;
}
.backtotop{
    background: rgb(43, 41, 41);
    text-align: center;
    padding: 1%;
    color:white ;
}
.backtotop a{
    display: block;
    font-size: 25px;
    text-align: center;
    text-decoration: none;
    color: white;
    padding: 1%;
    
}